<!DOCTYPE html>
<html>
    <head>
        <title>Piano2Sheet</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body>
        <h1>Piano2Sheet</h1>
        <h2>Upload Video</h2>
        <form class="p-3 text-center" action="/", method="post", enctype="multipart/form-data">
            <input class="form-control" type="file", name="imagefile">
            <input class="btn btn-primary mt-3", type="submit", value="Analyze">      
        </form>
    </body>
</html>