<!DOCTYPE html>
<html>
    <head>
        <title>Piano2Sheet</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <h1>Piano2Sheet</h1>
        <p>Link a YouTube video of a piano performance that uses Synthesia or a similar MIDI Piano Visualiser and get PDF Sheet Music, MIDI and MusicXML in a matter of seconds!</p>
        <h3>Upload Video</h2>

        <div class="flexbox-container">

            <div class="flexbox-item flexbox-item-1">
                <img id="youtube_logo" src="../images/youtube_png.png" alt="">
            </div>


            <div class="flexbox-item flexbox-item-2">
                <form class="form" action="/", method="post", enctype="multipart/form-data">
                    <input class="form-text" type="text" name="" id="">
                </form>
            </div>

        </div>
        
        <input class="btn btn-primary mt-3", type="submit", value="Analyze">
        <a href="https://www.youtube.com/watch?v=CloqhP5EiHk" target="_blank">Download</a>
    </body>
</html>